.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable {
  padding-right: 35px;
}
.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #356635;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #2d6987;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #fbeed5;
  color: #c09853;
}
.alert-warning hr {
  border-top-color: #f8e5be;
}
.alert-warning .alert-link {
  color: #a47e3c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.alert-danger hr {
  border-top-color: #e6c1c7;
}
.alert-danger .alert-link {
  color: #953b39;
}
/* Misc
***************************************************************/
/* Metadata */
.metadata {
  margin: 0 0 .9230em 0;
  color: #999999;
  font-size: 0.846em;
}
.metadata .published {
  display: inline;
  margin: 0 .4615em 0 0;
}
.metadata .comment-count {
  display: inline;
}
/* Alerts */
.validation-summary-errors {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.validation-summary-errors h4 {
  margin-top: 0;
  color: inherit;
}
.validation-summary-errors .alert-link {
  font-weight: bold;
}
.validation-summary-errors > p,
.validation-summary-errors > ul {
  margin-bottom: 0;
}
.validation-summary-errors > p + p {
  margin-top: 5px;
}
.validation-summary-errors hr {
  border-top-color: #e6c1c7;
}
.validation-summary-errors .alert-link {
  color: #953b39;
}
.message {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.message h4 {
  margin-top: 0;
  color: inherit;
}
.message .alert-link {
  font-weight: bold;
}
.message > p,
.message > ul {
  margin-bottom: 0;
}
.message > p + p {
  margin-top: 5px;
}
.message.message-Error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.message.message-Error hr {
  border-top-color: #e6c1c7;
}
.message.message-Error .alert-link {
  color: #953b39;
}
.message.message-Warning {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.message.message-Warning hr {
  border-top-color: #a6e1ec;
}
.message.message-Warning .alert-link {
  color: #2d6987;
}
.message.message-Information {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.message.message-Information hr {
  border-top-color: #c9e2b3;
}
.message.message-Information .alert-link {
  color: #356635;
}
/* Lists */
ul,
ol {
  padding-left: 0;
}
.zone-content ul,
.zone-content ol {
  padding-left: 2em;
}
.projection-list,
.content-items,
.widget-projection-widget > ul,
.projection-page > ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
/* Comments */
#comments {
  margin: 1.846em 0 0 0;
  padding: 0;
}
.comment-form {
  margin: 1.846em 0 0 0;
  padding: 0;
}
.comments {
  margin: 0;
  padding: 0 !important;
  list-style: none;
}
.comments li {
  margin: .9230em 0 0 0;
  padding: 1.25%;
  border: 1px solid #999999;
}
.comment {
  margin: 0;
  padding: 0;
}
.comment h4 {
  font-size: 1.077em;
}
.comment .reply {
  float: right;
}
.comment-form #comment-by {
  font-size: 1.231em;
  font-weight: normal;
  margin: 0 0 1.2em 0;
  border: none;
}
.comment-form #comment-by li {
  border: inherit;
  margin: inherit;
  padding: inherit;
}
.comment-count {
  font-size: 1.231em;
}
/* Images */
