.nav {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav:before,
.nav:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.nav:after {
  clear: both;
}
.nav > li {
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav > li.disabled > a {
  color: #999999;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #999999;
  text-decoration: none;
  background-color: transparent;
  cursor: default;
}
.nav > li + .nav-header {
  margin-top: 9px;
}
.nav > .pull-right {
  float: right;
}
.nav .divider {
  height: 2px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 20px;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
  display: table-cell;
  width: 1%;
  text-align: center;
}
.nav-tabs.nav-justified > li > a {
  border-bottom: 1px solid #ddd;
  margin-right: 0;
}
.nav-tabs.nav-justified > .active > a {
  border-bottom-color: #ffffff;
}
.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 5px;
}
.nav-pills > li + li > a {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.widget-menu-widget .menu > li.current > a,
.widget-menu-widget .menu > li.current > a:hover,
.widget-menu-widget .menu > li.current > a:focus {
  color: #fff;
  background-color: #428bca;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li > a {
  margin-top: 2px;
  margin-left: 0;
}
.nav-justified {
  width: 100%;
}
.nav-justified > li {
  float: none;
  display: table-cell;
  width: 1%;
  text-align: center;
}
.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.tabbable:before,
.tabbable:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.tabbable:after {
  clear: both;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
.tab-content > .active,
.pill-content > .active {
  display: block;
}
/*
// Prevent IE8 from misplacing imgs
// See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
.nav > li > a > img {
  max-width: none;
}

// Dropdowns
// -------------------------

.nav-tabs .dropdown-menu {
  // Remove the top rounded corners here since there is a hard edge above the menu
  .border-top-radius(0);
}

// Default dropdown links
// -------------------------
// Make carets use linkColor to start
.nav .dropdown-toggle .caret {
  border-top-color: @link-color;
  border-bottom-color: @link-color;
  margin-top: 8px;
}
.nav .dropdown-toggle:hover .caret {
  border-top-color: @link-hover-color;
  border-bottom-color: @link-hover-color;
}

// Active dropdown links
// -------------------------
.nav .active .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.nav-tabs .active .dropdown-toggle .caret {
  border-top-color: @gray;
  border-bottom-color: @gray;
}

// Active:hover dropdown links
// -------------------------
.nav > .dropdown.active > a:hover {
  cursor: pointer;
}

// Open dropdowns
// -------------------------
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover {
  color: #fff;
  background-color: @gray-light;
  border-color: @gray-light;
}
.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
  .opacity(1);
}

// Dropdowns in stacked tabs
.tabs-stacked .open > a:hover {
  border-color: @gray-light;
}

*/
.navbar {
  position: relative;
  padding: 10px 15px;
  background-color: #eeeeee;
  border-radius: 4px;
}
.navbar:before,
.navbar:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.navbar:after {
  clear: both;
}
.navbar .nav {
  margin-top: 15px;
}
.navbar .nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #777777;
  line-height: 20px;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #555555;
  background-color: #d5d5d5;
}
.navbar .nav > .disabled > a,
.navbar .nav > .disabled > a:hover,
.navbar .nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-static-top {
  border-radius: 0;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  border-radius: 0;
}
.navbar-fixed-top {
  top: 0;
}
.navbar-fixed-bottom {
  bottom: 0;
}
.navbar-brand {
  display: block;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 7px 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: #777777;
  text-align: center;
}
.navbar-brand:hover,
.navbar-brand:focus {
  color: #5e5e5e;
  text-decoration: none;
  background-color: transparent;
}
.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 12px;
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #ccc;
  border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
.navbar .nav > .divider {
  height: 2px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e1e1e1;
  border-bottom: 1px solid #fbfbfb;
}
.navbar-form {
  margin-top: 8px;
  margin-bottom: 8px;
}
.navbar .nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbar-fixed-bottom .nav > li > .dropdown-menu {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #d5d5d5;
  color: #555555;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #777777;
  border-bottom-color: #777777;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}
.navbar .pull-right > li > .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right {
  left: auto;
  right: 0;
}
.navbar-inverse {
  background-color: #222222;
}
.navbar-inverse .navbar-brand {
  color: #999999;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #999999;
}
.navbar-inverse .nav > li > a {
  color: #999999;
}
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .nav > .active > a,
.navbar-inverse .nav > .active > a:hover,
.navbar-inverse .nav > .active > a:focus {
  color: #ffffff;
  background-color: #080808;
}
.navbar-inverse .nav > .disabled > a,
.navbar-inverse .nav > .disabled > a:hover,
.navbar-inverse .nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-inverse .nav > .divider {
  background-color: #151515;
  border-bottom-color: #2f2f2f;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #080808;
  color: #ffffff;
}
.navbar-inverse .nav li.dropdown > a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #999999;
  border-bottom-color: #999999;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-brand {
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: -10px;
  }
  .navbar .nav {
    float: left;
    margin-top: 0;
  }
  .navbar .nav:before,
  .navbar .nav:after {
    content: " ";
    /* 1 */
  
    display: table;
    /* 2 */
  
  }
  .navbar .nav:after {
    clear: both;
  }
  .navbar .nav.pull-right {
    float: right;
  }
  .navbar .nav > li {
    float: left;
  }
  .navbar .nav > .divider {
    width: 1px;
    height: 30px;
    margin: 10px 9px;
    border-bottom: 0;
    border-right: 1px solid #fbfbfb;
  }
  .navbar-inverse .nav > .divider {
    border-right-color: #2f2f2f;
  }
  .navbar-fixed-left {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-fixed-left .navbar-brand,
  .navbar-fixed-left .nav,
  .navbar-fixed-left .nav > li {
    float: none;
  }
  .navbar-toggle {
    position: relative;
    top: auto;
    left: auto;
    display: none;
  }
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}
/*

// Janky solution for now to account for links outside the .nav
// -------------------------
.navbar-link {
  color: @navbar-link-color;
  &:hover {
    color: @navbar-link-hover-color;
  }
}

// Buttons in navbar
// -------------------------
.navbar .btn,
.navbar .btn-group {
  .navbarVerticalAlign(30px); // Vertically center in navbar
}
.navbar .btn-group .btn,
.navbar .input-prepend .btn,
.navbar .input-append .btn {
  margin-top: 0; // then undo the margin here so we don't accidentally double it
}

// Navbar forms
// -------------------------
.navbar-form {
  margin-bottom: 0; // remove default bottom margin
  .clearfix();
  input,
  select,
  .radio,
  .checkbox {
    .navbarVerticalAlign(30px); // Vertically center in navbar
  }
  input,
  select,
  .btn {
    display: inline-block;
    margin-bottom: 0;
  }
  input[type="image"],
  input[type="checkbox"],
  input[type="radio"] {
    margin-top: 3px;
  }
  .input-append,
  .input-prepend {
    margin-top: 5px;
    white-space: nowrap; // preven two  items from separating within a .navbar-form that has .pull-left
    input {
      margin-top: 0; // remove the margin on top since it's on the parent
    }
  }
}

*/
/* Navigation
***************************************************************/
.widget-menu-widget {
  /*.navbar;

    .menu
    {
        .nav;

        & > li > a
        {
            &:extend(.navbar .nav > li > a);

            &:hover
            {
                &:extend(.navbar .nav > li > a:hover);
            }

            &:focus
            {
                &:extend(.navbar .nav > li > a:focus);
            }
        }

        & .current a
        {
            &:extend(.navbar .nav > .active > a);

            &:hover
            {
                &:extend(.navbar .nav > .active > a:hover);
            }

            &:focus
            {
                &:extend(.navbar .nav > .active > a:focus);
            }
        }
    }*/

}
.widget-menu-widget .menu {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.widget-menu-widget .menu:before,
.widget-menu-widget .menu:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.widget-menu-widget .menu:after {
  clear: both;
}
.widget-menu-widget .menu > li {
  display: block;
}
.widget-menu-widget .menu > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.widget-menu-widget .menu > li > a:hover,
.widget-menu-widget .menu > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.widget-menu-widget .menu > li.disabled > a {
  color: #999999;
}
.widget-menu-widget .menu > li.disabled > a:hover,
.widget-menu-widget .menu > li.disabled > a:focus {
  color: #999999;
  text-decoration: none;
  background-color: transparent;
  cursor: default;
}
.widget-menu-widget .menu > li + .nav-header {
  margin-top: 9px;
}
.widget-menu-widget .menu > .pull-right {
  float: right;
}
.widget-menu-widget .menu .divider {
  height: 2px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
.widget-menu-widget .menu > li {
  float: left;
}
.widget-menu-widget .menu > li > a {
  border-radius: 5px;
}
.widget-menu-widget .menu > li + li > a {
  margin-left: 2px;
}
.widget-menu-widget .menu > li.active > a,
.widget-menu-widget .menu > li.active > a:hover,
.widget-menu-widget .menu > li.active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.widget-menu-widget .menu li {
  float: none;
}
@media (min-width: 48rem) {
  .widget-menu-widget .menu {
    width: 100%;
  }
  .widget-menu-widget .menu > li {
    float: none;
    display: table-cell;
    width: 1%;
    text-align: center;
  }
}
