.nav {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav:before,
.nav:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.nav:after {
  clear: both;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav > li.disabled > a {
  color: #999999;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #999999;
  text-decoration: none;
  background-color: transparent;
  cursor: default;
}
.nav > li + .nav-header {
  margin-top: 9px;
}
.nav.open > a,
.nav.open > a:hover,
.nav.open > a:focus {
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
}
.nav.open > a .caret,
.nav.open > a:hover .caret,
.nav.open > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.nav > .pull-right {
  float: right;
}
.nav .nav-divider {
  height: 2px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
  display: table-cell;
  width: 1%;
}
.nav-tabs.nav-justified > li > a {
  text-align: center;
}
.nav-tabs.nav-justified > li > a {
  border-bottom: 1px solid #ddd;
  margin-right: 0;
}
.nav-tabs.nav-justified > .active > a {
  border-bottom-color: #ffffff;
}
.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 5px;
}
.nav-pills > li + li > a {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.widget-menu-widget .menu > li.current > a,
.widget-menu-widget .menu > li.current > a:hover,
.widget-menu-widget .menu > li.current > a:focus {
  color: #fff;
  background-color: #428bca;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li > a {
  margin-top: 2px;
  margin-left: 0;
}
.nav-justified {
  width: 100%;
}
.nav-justified > li {
  float: none;
  display: table-cell;
  width: 1%;
}
.nav-justified > li > a {
  text-align: center;
}
.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.428571429;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.tabbable:before,
.tabbable:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.tabbable:after {
  clear: both;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
.tab-content > .active,
.pill-content > .active {
  display: block;
}
.nav .caret {
  border-top-color: #428bca;
  border-bottom-color: #428bca;
}
.nav a:hover .caret {
  border-top-color: #2a6496;
  border-bottom-color: #2a6496;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid #000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 2px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  text-decoration: none;
  color: #ffffff;
  background-color: #357ebd;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#428bca), to(#357ebd));
  background-image: -webkit-linear-gradient(top, #428bca, #357ebd);
  background-image: -moz-linear-gradient(top, #428bca, #357ebd);
  background-image: linear-gradient(to bottom, #428bca, #357ebd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #357ebd;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#428bca), to(#357ebd));
  background-image: -webkit-linear-gradient(top, #428bca, #357ebd);
  background-image: -moz-linear-gradient(top, #428bca, #357ebd);
  background-image: linear-gradient(to bottom, #428bca, #357ebd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999999;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: default;
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1000 - 10;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid #000;
  content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-top-left-radius: 0;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropup .dropdown-submenu > .dropdown-menu {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -2px;
  border-bottom-left-radius: 0;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-top-right-radius: 0;
}
.dropdown .dropdown-menu .nav-header {
  padding-left: 20px;
  padding-right: 20px;
}
.typeahead {
  z-index: 1051;
}
/* Navigation
***************************************************************/
.widget-menu-widget .menu {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.widget-menu-widget .menu:before,
.widget-menu-widget .menu:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.widget-menu-widget .menu:after {
  clear: both;
}
.widget-menu-widget .menu > li {
  position: relative;
  display: block;
}
.widget-menu-widget .menu > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.widget-menu-widget .menu > li > a:hover,
.widget-menu-widget .menu > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.widget-menu-widget .menu > li.disabled > a {
  color: #999999;
}
.widget-menu-widget .menu > li.disabled > a:hover,
.widget-menu-widget .menu > li.disabled > a:focus {
  color: #999999;
  text-decoration: none;
  background-color: transparent;
  cursor: default;
}
.widget-menu-widget .menu > li + .nav-header {
  margin-top: 9px;
}
.widget-menu-widget .menu.open > a,
.widget-menu-widget .menu.open > a:hover,
.widget-menu-widget .menu.open > a:focus {
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
}
.widget-menu-widget .menu.open > a .caret,
.widget-menu-widget .menu.open > a:hover .caret,
.widget-menu-widget .menu.open > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.widget-menu-widget .menu > .pull-right {
  float: right;
}
.widget-menu-widget .menu .nav-divider {
  height: 2px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
.widget-menu-widget .menu > li {
  float: left;
}
.widget-menu-widget .menu > li > a {
  border-radius: 5px;
}
.widget-menu-widget .menu > li + li > a {
  margin-left: 2px;
}
.widget-menu-widget .menu > li.active > a,
.widget-menu-widget .menu > li.active > a:hover,
.widget-menu-widget .menu > li.active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.widget-menu-widget .menu li {
  float: none;
}
.widget-menu-widget .menu li.dropdown > ul {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  left: auto;
  top: auto;
  margin-top: 0;
}
.widget-menu-widget .menu li.dropdown > ul.pull-right {
  right: 0;
  left: auto;
}
.widget-menu-widget .menu li.dropdown > ul .divider {
  height: 2px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
.widget-menu-widget .menu li.dropdown > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
.widget-menu-widget .menu li.dropdown:hover > ul {
  display: block;
}
@media (min-width: 48em) {
  .widget-menu-widget .menu {
    width: 100%;
  }
  .widget-menu-widget .menu > li {
    float: none;
    display: table-cell;
    width: 1%;
  }
  .widget-menu-widget .menu > li > a {
    text-align: center;
  }
}
