/* Structure
***************************************************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 100%;
}
#layout-wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 99%;
}
#layout-wrapper:before,
#layout-wrapper:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
#layout-wrapper:after {
  clear: both;
}
#layout-header:before,
#layout-navigation:before,
#layout-featured:before,
#layout-before-main:before,
#layout-main-container:before,
#layout-after-main:before,
#layout-tripel-container:before,
#layout-footer:before,
#layout-header:after,
#layout-navigation:after,
#layout-featured:after,
#layout-before-main:after,
#layout-main-container:after,
#layout-after-main:after,
#layout-tripel-container:after,
#layout-footer:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
#layout-header:after,
#layout-navigation:after,
#layout-featured:after,
#layout-before-main:after,
#layout-main-container:after,
#layout-after-main:after,
#layout-tripel-container:after,
#layout-footer:after {
  clear: both;
}
#layout-header .row,
#layout-navigation .row,
#layout-featured .row,
#layout-before-main .row,
#layout-main-container .row,
#layout-after-main .row,
#layout-tripel-container .row,
#layout-footer .row {
  margin-left: -15px;
  margin-right: -15px;
}
#layout-main-container #layout-content {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 48rem) {
  #layout-main-container #layout-content {
    float: left;
    width: 100%;
  }
}
#layout-main-container #layout-content #messages:before,
#layout-main-container #layout-content #before-content:before,
#layout-main-container #layout-content #content:before,
#layout-main-container #layout-content #after-content:before,
#layout-main-container #layout-content #messages:after,
#layout-main-container #layout-content #before-content:after,
#layout-main-container #layout-content #content:after,
#layout-main-container #layout-content #after-content:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
#layout-main-container #layout-content #messages:after,
#layout-main-container #layout-content #before-content:after,
#layout-main-container #layout-content #content:after,
#layout-main-container #layout-content #after-content:after {
  clear: both;
}
#layout-main-container #layout-content #messages .row,
#layout-main-container #layout-content #before-content .row,
#layout-main-container #layout-content #content .row,
#layout-main-container #layout-content #after-content .row {
  margin-left: -15px;
  margin-right: -15px;
}
.aside-1 #layout-main-container #aside-first,
.aside-2 #layout-main-container #aside-first,
.aside-1 #layout-main-container #aside-second,
.aside-2 #layout-main-container #aside-second {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 48rem) {
  .aside-1 #layout-main-container #aside-first,
  .aside-2 #layout-main-container #aside-first,
  .aside-1 #layout-main-container #aside-second,
  .aside-2 #layout-main-container #aside-second {
    float: left;
    width: 33.33333333333333%;
  }
}
.aside-1 #layout-main-container #layout-content,
.aside-2 #layout-main-container #layout-content {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 48rem) {
  .aside-1 #layout-main-container #layout-content,
  .aside-2 #layout-main-container #layout-content {
    float: left;
    width: 66.66666666666666%;
  }
}
.aside-12 #layout-main-container #aside-first,
.aside-12 #layout-main-container #aside-second {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 48rem) {
  .aside-12 #layout-main-container #aside-first,
  .aside-12 #layout-main-container #aside-second {
    float: left;
    width: 25%;
  }
}
.aside-12 #layout-main-container #layout-content {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 48rem) {
  .aside-12 #layout-main-container #layout-content {
    float: left;
    width: 50%;
  }
}
#layout-tripel-container #tripel-first,
#layout-tripel-container #tripel-second,
#layout-tripel-container #tripel-third {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 48rem) {
  #layout-tripel-container #tripel-first,
  #layout-tripel-container #tripel-second,
  #layout-tripel-container #tripel-third {
    float: left;
    width: 100%;
  }
}
.tripel-123 #layout-tripel-container #tripel-first,
.tripel-123 #layout-tripel-container #tripel-second,
.tripel-123 #layout-tripel-container #tripel-third {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 48rem) {
  .tripel-123 #layout-tripel-container #tripel-first,
  .tripel-123 #layout-tripel-container #tripel-second,
  .tripel-123 #layout-tripel-container #tripel-third {
    float: left;
    width: 33.33333333333333%;
  }
}
.tripel-12 #layout-tripel-container #tripel-first,
.tripel-13 #layout-tripel-container #tripel-first,
.tripel-23 #layout-tripel-container #tripel-first,
.tripel-12 #layout-tripel-container #tripel-second,
.tripel-13 #layout-tripel-container #tripel-second,
.tripel-23 #layout-tripel-container #tripel-second,
.tripel-12 #layout-tripel-container #tripel-third,
.tripel-13 #layout-tripel-container #tripel-third,
.tripel-23 #layout-tripel-container #tripel-third {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 48rem) {
  .tripel-12 #layout-tripel-container #tripel-first,
  .tripel-13 #layout-tripel-container #tripel-first,
  .tripel-23 #layout-tripel-container #tripel-first,
  .tripel-12 #layout-tripel-container #tripel-second,
  .tripel-13 #layout-tripel-container #tripel-second,
  .tripel-23 #layout-tripel-container #tripel-second,
  .tripel-12 #layout-tripel-container #tripel-third,
  .tripel-13 #layout-tripel-container #tripel-third,
  .tripel-23 #layout-tripel-container #tripel-third {
    float: left;
    width: 50%;
  }
}
#layout-footer #footer-quad:before,
#layout-footer #footer-quad:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
#layout-footer #footer-quad:after {
  clear: both;
}
#layout-footer #footer-quad .row {
  margin-left: -15px;
  margin-right: -15px;
}
#layout-footer #footer-quad #footer-quad-first,
#layout-footer #footer-quad #footer-quad-second,
#layout-footer #footer-quad #footer-quad-third,
#layout-footer #footer-quad #footer-quad-fourth {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 48rem) {
  #layout-footer #footer-quad #footer-quad-first,
  #layout-footer #footer-quad #footer-quad-second,
  #layout-footer #footer-quad #footer-quad-third,
  #layout-footer #footer-quad #footer-quad-fourth {
    float: left;
    width: 100%;
  }
}
.split-12 #layout-footer #footer-quad #footer-quad-first,
.split-13 #layout-footer #footer-quad #footer-quad-first,
.split-14 #layout-footer #footer-quad #footer-quad-first,
.split-23 #layout-footer #footer-quad #footer-quad-first,
.split-24 #layout-footer #footer-quad #footer-quad-first,
.split-34 #layout-footer #footer-quad #footer-quad-first,
.split-12 #layout-footer #footer-quad #footer-quad-second,
.split-13 #layout-footer #footer-quad #footer-quad-second,
.split-14 #layout-footer #footer-quad #footer-quad-second,
.split-23 #layout-footer #footer-quad #footer-quad-second,
.split-24 #layout-footer #footer-quad #footer-quad-second,
.split-34 #layout-footer #footer-quad #footer-quad-second,
.split-12 #layout-footer #footer-quad #footer-quad-third,
.split-13 #layout-footer #footer-quad #footer-quad-third,
.split-14 #layout-footer #footer-quad #footer-quad-third,
.split-23 #layout-footer #footer-quad #footer-quad-third,
.split-24 #layout-footer #footer-quad #footer-quad-third,
.split-34 #layout-footer #footer-quad #footer-quad-third,
.split-12 #layout-footer #footer-quad #footer-quad-fourth,
.split-13 #layout-footer #footer-quad #footer-quad-fourth,
.split-14 #layout-footer #footer-quad #footer-quad-fourth,
.split-23 #layout-footer #footer-quad #footer-quad-fourth,
.split-24 #layout-footer #footer-quad #footer-quad-fourth,
.split-34 #layout-footer #footer-quad #footer-quad-fourth {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 48rem) {
  .split-12 #layout-footer #footer-quad #footer-quad-first,
  .split-13 #layout-footer #footer-quad #footer-quad-first,
  .split-14 #layout-footer #footer-quad #footer-quad-first,
  .split-23 #layout-footer #footer-quad #footer-quad-first,
  .split-24 #layout-footer #footer-quad #footer-quad-first,
  .split-34 #layout-footer #footer-quad #footer-quad-first,
  .split-12 #layout-footer #footer-quad #footer-quad-second,
  .split-13 #layout-footer #footer-quad #footer-quad-second,
  .split-14 #layout-footer #footer-quad #footer-quad-second,
  .split-23 #layout-footer #footer-quad #footer-quad-second,
  .split-24 #layout-footer #footer-quad #footer-quad-second,
  .split-34 #layout-footer #footer-quad #footer-quad-second,
  .split-12 #layout-footer #footer-quad #footer-quad-third,
  .split-13 #layout-footer #footer-quad #footer-quad-third,
  .split-14 #layout-footer #footer-quad #footer-quad-third,
  .split-23 #layout-footer #footer-quad #footer-quad-third,
  .split-24 #layout-footer #footer-quad #footer-quad-third,
  .split-34 #layout-footer #footer-quad #footer-quad-third,
  .split-12 #layout-footer #footer-quad #footer-quad-fourth,
  .split-13 #layout-footer #footer-quad #footer-quad-fourth,
  .split-14 #layout-footer #footer-quad #footer-quad-fourth,
  .split-23 #layout-footer #footer-quad #footer-quad-fourth,
  .split-24 #layout-footer #footer-quad #footer-quad-fourth,
  .split-34 #layout-footer #footer-quad #footer-quad-fourth {
    float: left;
    width: 50%;
  }
}
.split-123 #layout-footer #footer-quad #footer-quad-first,
.split-124 #layout-footer #footer-quad #footer-quad-first,
.split-134 #layout-footer #footer-quad #footer-quad-first,
.split-234 #layout-footer #footer-quad #footer-quad-first,
.split-123 #layout-footer #footer-quad #footer-quad-second,
.split-124 #layout-footer #footer-quad #footer-quad-second,
.split-134 #layout-footer #footer-quad #footer-quad-second,
.split-234 #layout-footer #footer-quad #footer-quad-second,
.split-123 #layout-footer #footer-quad #footer-quad-third,
.split-124 #layout-footer #footer-quad #footer-quad-third,
.split-134 #layout-footer #footer-quad #footer-quad-third,
.split-234 #layout-footer #footer-quad #footer-quad-third,
.split-123 #layout-footer #footer-quad #footer-quad-fourth,
.split-124 #layout-footer #footer-quad #footer-quad-fourth,
.split-134 #layout-footer #footer-quad #footer-quad-fourth,
.split-234 #layout-footer #footer-quad #footer-quad-fourth {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 48rem) {
  .split-123 #layout-footer #footer-quad #footer-quad-first,
  .split-124 #layout-footer #footer-quad #footer-quad-first,
  .split-134 #layout-footer #footer-quad #footer-quad-first,
  .split-234 #layout-footer #footer-quad #footer-quad-first,
  .split-123 #layout-footer #footer-quad #footer-quad-second,
  .split-124 #layout-footer #footer-quad #footer-quad-second,
  .split-134 #layout-footer #footer-quad #footer-quad-second,
  .split-234 #layout-footer #footer-quad #footer-quad-second,
  .split-123 #layout-footer #footer-quad #footer-quad-third,
  .split-124 #layout-footer #footer-quad #footer-quad-third,
  .split-134 #layout-footer #footer-quad #footer-quad-third,
  .split-234 #layout-footer #footer-quad #footer-quad-third,
  .split-123 #layout-footer #footer-quad #footer-quad-fourth,
  .split-124 #layout-footer #footer-quad #footer-quad-fourth,
  .split-134 #layout-footer #footer-quad #footer-quad-fourth,
  .split-234 #layout-footer #footer-quad #footer-quad-fourth {
    float: left;
    width: 33.33333333333333%;
  }
}
.split-1234 #layout-footer #footer-quad #footer-quad-first,
.split-1234 #layout-footer #footer-quad #footer-quad-second,
.split-1234 #layout-footer #footer-quad #footer-quad-third,
.split-1234 #layout-footer #footer-quad #footer-quad-fourth {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 48rem) {
  .split-1234 #layout-footer #footer-quad #footer-quad-first,
  .split-1234 #layout-footer #footer-quad #footer-quad-second,
  .split-1234 #layout-footer #footer-quad #footer-quad-third,
  .split-1234 #layout-footer #footer-quad #footer-quad-fourth {
    float: left;
    width: 25%;
  }
}
#layout-footer #footer-sig:before,
#layout-footer #footer-sig:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
#layout-footer #footer-sig:after {
  clear: both;
}
#layout-footer #footer-sig .row {
  margin-left: -15px;
  margin-right: -15px;
}
