.container {
  margin-right: auto;
  margin-left: auto;
}
.container:before,
.container:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.container:after {
  clear: both;
}
.row:before,
.row:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.row:after {
  clear: both;
}
.row .row {
  margin-left: -15px;
  margin-right: -15px;
}
[class*="col-span-"],
[class*="col-small-"] {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
[class*="col-small-"] {
  float: left;
}
.col-small-span-12 {
  width: 100%;
}
.col-small-span-11 {
  width: 91.66666666666666%;
}
.col-small-span-10 {
  width: 83.33333333333334%;
}
.col-small-span-9 {
  width: 75%;
}
.col-small-span-8 {
  width: 66.66666666666666%;
}
.col-small-span-7 {
  width: 58.333333333333336%;
}
.col-small-span-6 {
  width: 50%;
}
.col-small-span-5 {
  width: 41.66666666666667%;
}
.col-small-span-4 {
  width: 33.33333333333333%;
}
.col-small-span-3 {
  width: 25%;
}
.col-small-span-2 {
  width: 16.666666666666664%;
}
.col-small-span-1 {
  width: 8.333333333333332%;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 728px;
  }
  [class*="col-span-"] {
    float: left;
  }
  .col-span-12 {
    width: 100%;
  }
  .col-span-11 {
    width: 91.66666666666666%;
  }
  .col-span-10 {
    width: 83.33333333333334%;
  }
  .col-span-9 {
    width: 75%;
  }
  .col-span-8 {
    width: 66.66666666666666%;
  }
  .col-span-7 {
    width: 58.333333333333336%;
  }
  .col-span-6 {
    width: 50%;
  }
  .col-span-5 {
    width: 41.66666666666667%;
  }
  .col-span-4 {
    width: 33.33333333333333%;
  }
  .col-span-3 {
    width: 25%;
  }
  .col-span-2 {
    width: 16.666666666666664%;
  }
  .col-span-1 {
    width: 8.333333333333332%;
  }
  .col-offset-12 {
    margin-left: 100%;
  }
  .col-offset-11 {
    margin-left: 91.66666666666666%;
  }
  .col-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-offset-9 {
    margin-left: 75%;
  }
  .col-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-offset-6 {
    margin-left: 50%;
  }
  .col-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-offset-3 {
    margin-left: 25%;
  }
  .col-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-push-12 {
    left: 100%;
  }
  .col-push-11 {
    left: 91.66666666666666%;
  }
  .col-push-10 {
    left: 83.33333333333334%;
  }
  .col-push-9 {
    left: 75%;
  }
  .col-push-8 {
    left: 66.66666666666666%;
  }
  .col-push-7 {
    left: 58.333333333333336%;
  }
  .col-push-6 {
    left: 50%;
  }
  .col-push-5 {
    left: 41.66666666666667%;
  }
  .col-push-4 {
    left: 33.33333333333333%;
  }
  .col-push-3 {
    left: 25%;
  }
  .col-push-2 {
    left: 16.666666666666664%;
  }
  .col-push-1 {
    left: 8.333333333333332%;
  }
  .col-pull-12 {
    right: 100%;
  }
  .col-pull-11 {
    right: 91.66666666666666%;
  }
  .col-pull-10 {
    right: 83.33333333333334%;
  }
  .col-pull-9 {
    right: 75%;
  }
  .col-pull-8 {
    right: 66.66666666666666%;
  }
  .col-pull-7 {
    right: 58.333333333333336%;
  }
  .col-pull-6 {
    right: 50%;
  }
  .col-pull-5 {
    right: 41.66666666666667%;
  }
  .col-pull-4 {
    right: 33.33333333333333%;
  }
  .col-pull-3 {
    right: 25%;
  }
  .col-pull-2 {
    right: 16.666666666666664%;
  }
  .col-pull-1 {
    right: 8.333333333333332%;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
[class*="col-span-"].pull-right {
  float: right;
}
/* Structure
***************************************************************/
body {
  width: 100%;
}
#layout-wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 99%;
}
#layout-wrapper:before,
#layout-wrapper:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
#layout-wrapper:after {
  clear: both;
}
#layout-header:before,
#layout-navigation:before,
#layout-featured:before,
#layout-before-main:before,
#layout-main-container:before,
#layout-after-main:before,
#layout-tripel-container:before,
#layout-footer:before,
#layout-header:after,
#layout-navigation:after,
#layout-featured:after,
#layout-before-main:after,
#layout-main-container:after,
#layout-after-main:after,
#layout-tripel-container:after,
#layout-footer:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
#layout-header:after,
#layout-navigation:after,
#layout-featured:after,
#layout-before-main:after,
#layout-main-container:after,
#layout-after-main:after,
#layout-tripel-container:after,
#layout-footer:after {
  clear: both;
}
#layout-header .row,
#layout-navigation .row,
#layout-featured .row,
#layout-before-main .row,
#layout-main-container .row,
#layout-after-main .row,
#layout-tripel-container .row,
#layout-footer .row {
  margin-left: -15px;
  margin-right: -15px;
}
#layout-main-container #layout-content {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  #layout-main-container #layout-content {
    float: left;
    width: 100%;
  }
}
#layout-main-container #layout-content #messages:before,
#layout-main-container #layout-content #before-content:before,
#layout-main-container #layout-content #content:before,
#layout-main-container #layout-content #after-content:before,
#layout-main-container #layout-content #messages:after,
#layout-main-container #layout-content #before-content:after,
#layout-main-container #layout-content #content:after,
#layout-main-container #layout-content #after-content:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
#layout-main-container #layout-content #messages:after,
#layout-main-container #layout-content #before-content:after,
#layout-main-container #layout-content #content:after,
#layout-main-container #layout-content #after-content:after {
  clear: both;
}
#layout-main-container #layout-content #messages .row,
#layout-main-container #layout-content #before-content .row,
#layout-main-container #layout-content #content .row,
#layout-main-container #layout-content #after-content .row {
  margin-left: -15px;
  margin-right: -15px;
}
.aside-1 #layout-main-container #aside-first,
.aside-2 #layout-main-container #aside-first,
.aside-1 #layout-main-container #aside-second,
.aside-2 #layout-main-container #aside-second {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .aside-1 #layout-main-container #aside-first,
  .aside-2 #layout-main-container #aside-first,
  .aside-1 #layout-main-container #aside-second,
  .aside-2 #layout-main-container #aside-second {
    float: left;
    width: 33.33333333333333%;
  }
}
.aside-1 #layout-main-container #layout-content,
.aside-2 #layout-main-container #layout-content {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .aside-1 #layout-main-container #layout-content,
  .aside-2 #layout-main-container #layout-content {
    float: left;
    width: 66.66666666666666%;
  }
}
.aside-12 #layout-main-container #aside-first,
.aside-12 #layout-main-container #aside-second {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .aside-12 #layout-main-container #aside-first,
  .aside-12 #layout-main-container #aside-second {
    float: left;
    width: 25%;
  }
}
.aside-12 #layout-main-container #layout-content {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .aside-12 #layout-main-container #layout-content {
    float: left;
    width: 50%;
  }
}
#layout-tripel-container #tripel-first,
#layout-tripel-container #tripel-second,
#layout-tripel-container #tripel-third {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  #layout-tripel-container #tripel-first,
  #layout-tripel-container #tripel-second,
  #layout-tripel-container #tripel-third {
    float: left;
    width: 100%;
  }
}
.tripel-123 #layout-tripel-container #tripel-first,
.tripel-123 #layout-tripel-container #tripel-second,
.tripel-123 #layout-tripel-container #tripel-third {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .tripel-123 #layout-tripel-container #tripel-first,
  .tripel-123 #layout-tripel-container #tripel-second,
  .tripel-123 #layout-tripel-container #tripel-third {
    float: left;
    width: 33.33333333333333%;
  }
}
.tripel-12 #layout-tripel-container #tripel-first,
.tripel-13 #layout-tripel-container #tripel-first,
.tripel-23 #layout-tripel-container #tripel-first,
.tripel-12 #layout-tripel-container #tripel-second,
.tripel-13 #layout-tripel-container #tripel-second,
.tripel-23 #layout-tripel-container #tripel-second,
.tripel-12 #layout-tripel-container #tripel-third,
.tripel-13 #layout-tripel-container #tripel-third,
.tripel-23 #layout-tripel-container #tripel-third {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .tripel-12 #layout-tripel-container #tripel-first,
  .tripel-13 #layout-tripel-container #tripel-first,
  .tripel-23 #layout-tripel-container #tripel-first,
  .tripel-12 #layout-tripel-container #tripel-second,
  .tripel-13 #layout-tripel-container #tripel-second,
  .tripel-23 #layout-tripel-container #tripel-second,
  .tripel-12 #layout-tripel-container #tripel-third,
  .tripel-13 #layout-tripel-container #tripel-third,
  .tripel-23 #layout-tripel-container #tripel-third {
    float: left;
    width: 50%;
  }
}
#layout-footer #footer-quad:before,
#layout-footer #footer-quad:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
#layout-footer #footer-quad:after {
  clear: both;
}
#layout-footer #footer-quad .row {
  margin-left: -15px;
  margin-right: -15px;
}
#layout-footer #footer-quad #footer-quad-first,
#layout-footer #footer-quad #footer-quad-second,
#layout-footer #footer-quad #footer-quad-third,
#layout-footer #footer-quad #footer-quad-fourth {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  #layout-footer #footer-quad #footer-quad-first,
  #layout-footer #footer-quad #footer-quad-second,
  #layout-footer #footer-quad #footer-quad-third,
  #layout-footer #footer-quad #footer-quad-fourth {
    float: left;
    width: 100%;
  }
}
.split-12 #layout-footer #footer-quad #footer-quad-first,
.split-13 #layout-footer #footer-quad #footer-quad-first,
.split-14 #layout-footer #footer-quad #footer-quad-first,
.split-23 #layout-footer #footer-quad #footer-quad-first,
.split-24 #layout-footer #footer-quad #footer-quad-first,
.split-34 #layout-footer #footer-quad #footer-quad-first,
.split-12 #layout-footer #footer-quad #footer-quad-second,
.split-13 #layout-footer #footer-quad #footer-quad-second,
.split-14 #layout-footer #footer-quad #footer-quad-second,
.split-23 #layout-footer #footer-quad #footer-quad-second,
.split-24 #layout-footer #footer-quad #footer-quad-second,
.split-34 #layout-footer #footer-quad #footer-quad-second,
.split-12 #layout-footer #footer-quad #footer-quad-third,
.split-13 #layout-footer #footer-quad #footer-quad-third,
.split-14 #layout-footer #footer-quad #footer-quad-third,
.split-23 #layout-footer #footer-quad #footer-quad-third,
.split-24 #layout-footer #footer-quad #footer-quad-third,
.split-34 #layout-footer #footer-quad #footer-quad-third,
.split-12 #layout-footer #footer-quad #footer-quad-fourth,
.split-13 #layout-footer #footer-quad #footer-quad-fourth,
.split-14 #layout-footer #footer-quad #footer-quad-fourth,
.split-23 #layout-footer #footer-quad #footer-quad-fourth,
.split-24 #layout-footer #footer-quad #footer-quad-fourth,
.split-34 #layout-footer #footer-quad #footer-quad-fourth {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .split-12 #layout-footer #footer-quad #footer-quad-first,
  .split-13 #layout-footer #footer-quad #footer-quad-first,
  .split-14 #layout-footer #footer-quad #footer-quad-first,
  .split-23 #layout-footer #footer-quad #footer-quad-first,
  .split-24 #layout-footer #footer-quad #footer-quad-first,
  .split-34 #layout-footer #footer-quad #footer-quad-first,
  .split-12 #layout-footer #footer-quad #footer-quad-second,
  .split-13 #layout-footer #footer-quad #footer-quad-second,
  .split-14 #layout-footer #footer-quad #footer-quad-second,
  .split-23 #layout-footer #footer-quad #footer-quad-second,
  .split-24 #layout-footer #footer-quad #footer-quad-second,
  .split-34 #layout-footer #footer-quad #footer-quad-second,
  .split-12 #layout-footer #footer-quad #footer-quad-third,
  .split-13 #layout-footer #footer-quad #footer-quad-third,
  .split-14 #layout-footer #footer-quad #footer-quad-third,
  .split-23 #layout-footer #footer-quad #footer-quad-third,
  .split-24 #layout-footer #footer-quad #footer-quad-third,
  .split-34 #layout-footer #footer-quad #footer-quad-third,
  .split-12 #layout-footer #footer-quad #footer-quad-fourth,
  .split-13 #layout-footer #footer-quad #footer-quad-fourth,
  .split-14 #layout-footer #footer-quad #footer-quad-fourth,
  .split-23 #layout-footer #footer-quad #footer-quad-fourth,
  .split-24 #layout-footer #footer-quad #footer-quad-fourth,
  .split-34 #layout-footer #footer-quad #footer-quad-fourth {
    float: left;
    width: 50%;
  }
}
.split-123 #layout-footer #footer-quad #footer-quad-first,
.split-124 #layout-footer #footer-quad #footer-quad-first,
.split-134 #layout-footer #footer-quad #footer-quad-first,
.split-234 #layout-footer #footer-quad #footer-quad-first,
.split-123 #layout-footer #footer-quad #footer-quad-second,
.split-124 #layout-footer #footer-quad #footer-quad-second,
.split-134 #layout-footer #footer-quad #footer-quad-second,
.split-234 #layout-footer #footer-quad #footer-quad-second,
.split-123 #layout-footer #footer-quad #footer-quad-third,
.split-124 #layout-footer #footer-quad #footer-quad-third,
.split-134 #layout-footer #footer-quad #footer-quad-third,
.split-234 #layout-footer #footer-quad #footer-quad-third,
.split-123 #layout-footer #footer-quad #footer-quad-fourth,
.split-124 #layout-footer #footer-quad #footer-quad-fourth,
.split-134 #layout-footer #footer-quad #footer-quad-fourth,
.split-234 #layout-footer #footer-quad #footer-quad-fourth {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .split-123 #layout-footer #footer-quad #footer-quad-first,
  .split-124 #layout-footer #footer-quad #footer-quad-first,
  .split-134 #layout-footer #footer-quad #footer-quad-first,
  .split-234 #layout-footer #footer-quad #footer-quad-first,
  .split-123 #layout-footer #footer-quad #footer-quad-second,
  .split-124 #layout-footer #footer-quad #footer-quad-second,
  .split-134 #layout-footer #footer-quad #footer-quad-second,
  .split-234 #layout-footer #footer-quad #footer-quad-second,
  .split-123 #layout-footer #footer-quad #footer-quad-third,
  .split-124 #layout-footer #footer-quad #footer-quad-third,
  .split-134 #layout-footer #footer-quad #footer-quad-third,
  .split-234 #layout-footer #footer-quad #footer-quad-third,
  .split-123 #layout-footer #footer-quad #footer-quad-fourth,
  .split-124 #layout-footer #footer-quad #footer-quad-fourth,
  .split-134 #layout-footer #footer-quad #footer-quad-fourth,
  .split-234 #layout-footer #footer-quad #footer-quad-fourth {
    float: left;
    width: 33.33333333333333%;
  }
}
.split-1234 #layout-footer #footer-quad #footer-quad-first,
.split-1234 #layout-footer #footer-quad #footer-quad-second,
.split-1234 #layout-footer #footer-quad #footer-quad-third,
.split-1234 #layout-footer #footer-quad #footer-quad-fourth {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .split-1234 #layout-footer #footer-quad #footer-quad-first,
  .split-1234 #layout-footer #footer-quad #footer-quad-second,
  .split-1234 #layout-footer #footer-quad #footer-quad-third,
  .split-1234 #layout-footer #footer-quad #footer-quad-fourth {
    float: left;
    width: 25%;
  }
}
#layout-footer #footer-sig:before,
#layout-footer #footer-sig:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
#layout-footer #footer-sig:after {
  clear: both;
}
#layout-footer #footer-sig .row {
  margin-left: -15px;
  margin-right: -15px;
}
