@import "common";
@import "../Content/Bootstrap/less/type";


/* Typography
***************************************************************/

/* Headings */
.zone-content
{
    > .content-item:first-of-type > header h1, > h1
    {
        .page-header;
    }

    .projection-list
    {
        h1:extend(h1 small)
        {
        }
    }
}

.widget
{
    h1:extend(h1 small)
    {
    }

    .projection-list h1:extend(h2 small)
    {
    }
}

/* General */
#branding
{
    font-weight: bold;
}